<h2>작업</h2>
<p>작업들을 관리합니다.</p><br/>
<%= link_to '새 작업', new_admin_work_path, :class => 'btn btn-primary' %>
<p></p>
<table class="table">
	<% if @works.length != 0 %>
		<% @works.each do |work| %>
			<tr>
				<td>
					<%= link_to work.title, edit_admin_work_path(work) %>&nbsp;<br/>
				</td>
				<td class="span1">
					<%= link_to "삭제", admin_work_path(work), :method => 'delete', data: {:confirm => '정말로 삭제하시겠습니까?'}, :class => 'text-error' %>
				</td>
			</tr>
		<% end %>
	<% elsif !params[:search]%>
		<tr>
			<td colspan="2">'새 작업'을 눌러 작업을 추가해주세요.</td>
		</tr>
	<% else %>
		<tr>
			<td colspan="2">검색 결과가 없습니다.</td>
		</tr>
	<% end %>
</table>
<%= will_paginate @works , {:class=> 'pagination'} %>
<%= form_tag admin_works_path, :method => 'get', class: 'form-search' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'input-medium search-query' %>
    <%= submit_tag "검색", :name => nil, class: 'btn' %>
  </p>
<% end %>

